{% extends 'master.html' %}
{% block content %}

<div class="row mt-4">
  <h4 style="color: black;">STUDENTS</h4><hr><br>
  <h4><span>Class</span></h4>
  <h4><span>Division</span></h4>
    <div class="col-lg-12 col-md-12">
     
        <table class="table mt-5">
            <thead class="thead-dark">
              <tr>
                <th scope="col">NO</th>
                <th scope="col">S.Name</th>
                <th scope="col">S.ID</th>
                <th scope="col">Phone No</th>
                <th scope="col">Address</th>
                <th scope="col">Parents</th>
                <th scope="col">P.no</th>
                <th scope="col">Total Attandance</th>
                

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Minnu</td>
                <td>12345</td>
                <td>......</td>
                <td>.....</td>
                <td>......</td>
                <td>-----</td>
                <td>........</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Arun</td>
                <td>12345</td>
                <td>......</td>
                <td>.....</td>
                <td>......</td>
                <td>-----</td>
                <td>-----</td>
              </tr>
              </tbody>
          </table>
    </div>
</div>




















{% endblock %}