{% extends 'master.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-warning">
                    <img src="https://img.icons8.com/external-inipagistudio-lineal-color-inipagistudio/64/000000/external-student-student-counselor-inipagistudio-lineal-color-inipagistudio.png"/>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total  Students</strong></p>
                <h3 class="card-title">40</h3>
            </div>
            <!-- <div class="card-footer">
                <div class="stats">
                    <a href="#pablo">See detailed report</a>&nbsp;&nbsp;
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-rose">
                    <img src="https://img.icons8.com/external-inipagistudio-lineal-color-inipagistudio/64/000000/external-teacher-language-learning-inipagistudio-lineal-color-inipagistudio.png"/>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Total Teachers</strong></p>
                <h3 class="card-title">15</h3>
            </div>
            <!-- <div class="card-footer">
                <div class="stats">
                    <a href="#pablo">See detailed report</a>&nbsp;&nbsp;
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-success">
                    <img src="https://img.icons8.com/external-inipagistudio-lineal-color-inipagistudio/64/000000/external-parents-school-counseling-inipagistudio-lineal-color-inipagistudio.png"/>

                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Number Of Parents</strong></p>
                <h3 class="card-title">35</h3>
            </div>
            <!-- <div class="card-footer">
                <div class="stats">
                    <a href="#pablo">See detailed report</a>&nbsp;&nbsp;
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-info">
                    <img src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-events-donation-and-charity-icongeek26-outline-gradient-icongeek26.png"/>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Upcoming Events</strong></p>
                <h3 class="card-title">5</h3>
            </div>
            <!-- <div class="card-footer">
                <div class="stats">
                    <a href="#pablo">See detailed report</a>&nbsp;&nbsp;
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div> -->
        </div>
    </div>
</div>


<div class="row ">
    <!-- <div class="col-lg-7 col-md-12">
        <div class="card" style="min-height: 485px">
            <div class="card-header card-header-text">
                <h4 class="card-title">Employees Stats</h4>
                <p class="category">New employees on 15th December, 2016</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead class="text-primary">
                        <tr><th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Country</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bob Williams</td>
                            <td>$23,566</td>
                            <td>USA</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mike Tyson</td>
                            <td>$10,200</td>
                            <td>Canada</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Tim Sebastian</td>
                            <td>$32,190</td>
                            <td>Netherlands</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Philip Morris</td>
                            <td>$31,123</td>
                            <td>Korea, South</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>South Africa</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Hulk Hogan</td>
                            <td>$43,120</td>
                            <td>Netherlands</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Angelina Jolie </td>
                            <td>$12,140</td>
                            <td>Australia</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
  
    <div class="col-lg-5 col-md-12">
        <div class="card" style="min-height: 485px">
            <div class="card-header card-header-text">
                <h4 class="card-title">UPCOMING EVENTS</h4>
            </div>
            
            <div class="card-content">
                <div class="streamline">
                    <div class="sl-item sl-danger">
                        <div class="sl-content">
                            <small class="text-muted">8/3/2022</small>
                            <p>WOMENS DAY DAY</p>
                        </div>
                    </div>
                    <div class="sl-item sl-primary">
                        <div class="sl-content">
                            <small class="text-muted">2/5/2022</small>
                            <p>TECH FEST</p>
                        </div>
                    </div>
                    <div class="sl-item sl-danger">
                        <div class="sl-content">
                            <small class="text-muted">31/5/2022</small>
                            <p>SPORTS DAY</p>
                        </div>
                    </div>
                    <div class="sl-item sl-success">
                        <div class="sl-content">
                            <small class="text-muted"></small>
                            <p>Kate added you to her team</p>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-content">
                            <small class="text-muted">45 minutes ago</small>
                            <p>John has finished his task</p>
                        </div>
                    </div>
                    <div class="sl-item sl-warning">
                        <div class="sl-content">
                            <small class="text-muted">55 mins ago</small>
                            <p>Jim shared a folder with you</p>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-content">
                            <small class="text-muted">60 minutes ago</small>
                            <p>John has finished his task</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}