{% extends 'main.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/useview/index.css">


<!-- Image Slider -->
<section>  
  <div class="row">
    <div class="co-lg-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="/static/images/photogallery-2.jpg" style="height: 500px;" class="d-block col-lg-12" alt="...">
          </div>
          <div class="carousel-item">
              <img src="/static/images/login-img.jpg" style="height: 500px;" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>
  </div>
</section>

<!-- Welcoming Message -->
<section>
  <div class="row">
    <div class="col-lg-12  my-5">
      <h2 class="text-center">Welcome....</h2>
    </div>
  </div>
</section>

<!-- Welcome Contents -->
<section class="mx-5 my-3">
  <div class="row justify-content-center">
    <div class="col-lg-9" >
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, ea. Magnam a obcaecati id porro laboriosam veritatis, accusantium dolore, beatae neque eum dignissimos sint. Esse culpa nihil aliquam neque error.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam ex facilis nam impedit velit quod sunt possimus eos illum. Ex dolores minima incidunt sed quidem. Ut necessitatibus earum minima non.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-9 pt-3">
        <p class="text-center">Read more....<a href="#"><img src="/static/images/arrow.png" class="img-fluid"></a></p>
    </div>
  </div>
</section>

<!-- List of clubs -->
<section">
  <div class="row bg-light ">
    <div class="row my-4">
      <div class="col-lg-12 col-sm-12">
        <h3><u>Our Courses</u></h3>
      </div>
    </div>
    <div class="row row-cols-sm-2 row-cols-md-5 g-4 justify-content-center">
        <div class="col-4">
          <div class="card shadow h-100 rounded">
            <div class="inner">
              <img src="/static/images/nss.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>NSS</b></h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card shadow h-100 rounded">
            <div class="inner">
              <img src="/static/images/echo.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>ECO CLUB</b></h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim aliquid, ut tenetur ipsum esse quo velit voluptatem impedit vel sunt natus fugit possimus debitis odio autem sint harum. Enim, nobis.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card h-100 shadow rounded">
            <div class="inner">
              <img src="/static/images/scout.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">SCOUT AND GUIDES</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card h-100 shadow rounded">
            <div class="inner">
              <img src="/static/images/daddiction.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">D_ADDICTION</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    
    <div class="row bg-light">
      <div class="row  row-cols-md-5 g-4 justify-content-center mb-5">
        <div class="col-4">
          <div class="card h-100 shadow rounded">
            <div class="inner">
              <img src="/static/images/MUSIC.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>D_MEDLY</b></h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card h-100 shadow rounded">
            <div class="inner">
              <img src="/static/images/SPORTS.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><b>SPORTS CLUB</b></h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Upcoming Events -->
<section>
  <div class="row">
    <div class="col-lg-6 mt-4">
        <h2>UPCOMING EVENTS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row justify-content-center my-5" >
        <div class="bg-light rounded"> 
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="d-block w-100" src="/static/images/upcoming.jpg" alt="First slide">
              </div>
              <div class="carousel-caption d-none d-md-block">
                  <h5><b style="color: blue;">Event Heading</b></h5>
                  <p style="text-align: left;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio nesciunt temporibus libero nam, maxime aperiam reprehenderit possimus voluptates est necessitatibus praesentium voluptate omnis numquam obcaecati, odit officia dicta tempora molestiae.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>



  {% endblock %}
